body {
    color-scheme: light dark;
    margin: 0;
    padding: 0;
    font-family: 'Skyscapers';
    background: linear-gradient(45deg, #03031c, #060923);
    background-size: 200% 200%;
    animation: gradientAnimation 5s infinite;
    color: aliceblue;
    overflow-x: hidden;
    overflow: hidden;
}

main {
    padding: 2rem;
}


@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.logo {
    height: 40%;
    width: 40%;
}


header {
    color: rgb(255, 255, 255);
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1.5em;
    z-index: 10;
}





.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000000;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}

#loginButton {
    background-color:#ffffff;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position:fixed;
    top: 3.5em;
    right: 2em;
}

#loginButton:hover {
    background-color: rgb(38, 38, 38);
    color: white;
}




.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Create 3 equal columns */
    grid-gap: 12em; /* Add spacing between the frames */
    justify-content: center; /* Center the columns */
    max-height: 70vh; /* Set a maximum height equal to the viewport height */
    padding-top: 10em;
    margin-top: 10em;
    overflow-y: auto; /* Add vertical scroll if content overflows */
    overflow-x: hidden;
}

@media (max-width: 1125px) {
    .container {
        grid-template-columns: repeat(1, 1fr); /* Create 3 equal columns */
        align-items: center;
       
    }
    #subtext {
        padding-top: 1em;
        position:relative;
        display: flex;
        font-size: larger;
        opacity: 0;
    }

    .logo {
        src: url("assets/up.png");
        height: 40%;
        width: 40%;
    }

}

#subtext {
    font-size: xx-large;
}


iframe {
    border: 0.1em solid #3c5b67;
    border-radius: 10%;
    height: 20em;
    width: 20em;
}


.iframe-container {
    position: relative; /* Make sure the overlay is positioned relative to the container */
    width: 20.2em;
    height: 125%;
    background-color: #66a3e5f4;
    border-radius: 10%;
}

.iframe-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 20.2em;
    height: 100%;
    background: rgb(161, 161, 161);
    opacity: 0; /* Make the overlay invisible by default */
    pointer-events: none; /* Allow clicks to pass through the overlay to the iframe */
    z-index: 2; /* Place the overlay above the iframe */
    border-radius: 10%;
    transition: 100ms;
}

p {
    font-family: "Montserrat", sans-serif;
}
p.naam {
}


.naam {
    position: absolute;
    bottom: 0.5em;
    padding-left: 1em;
    color: rgb(255, 255, 255);
    font-weight: normal;
}

.upvotes::after {
    content: "⬆️";
    position: absolute;
    bottom: 0;
    right: 0;
    font-size:x-large;
    padding-bottom: 0.5em;
    padding-right: 1.5em;
    font-weight: bold;
}




