body {
    color-scheme: light dark;
    margin: 0;
    padding: 0;
    font-family: 'Mosk', sans-serif;
    font-family: 'Mosk Semi-Bold 600', sans-serif;
    background: linear-gradient(45deg, #080808, #0d0d0e);
    background-size: 200% 200%;
    animation: gradientAnimation 5s infinite;
    color: aliceblue;
    overflow-x: hidden;
    overflow: hidden;
}

main {
    padding: 2rem;
}


@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.logo {
    height: 40%;
    width: 40%;
    z-index: 10;
}


header {
    color: rgb(255, 255, 255);
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1.5em;
    z-index: 10;
}





.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 3;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000000;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}

#loginButton {
    background-color:#ffffff;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position:fixed;
    top: 3.5em;
    right: 2em;
}

#loginButton:hover {
    background-color: rgb(38, 38, 38);
    color: white;
}




.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Create 3 equal columns */
    grid-gap: 12em; /* Add spacing between the frames */
    justify-content: center; /* Center the columns */
    max-height: 70vh; /* Set a maximum height equal to the viewport height */
    padding-top: 10em;
    margin-top: 10em;
    overflow-y: auto; /* Add vertical scroll if content overflows */
    overflow-x: hidden;
}

@media (max-width: 1125px) {
    .container {
        grid-template-columns: repeat(1, 1fr); /* Create 3 equal columns */
        align-items: center;
       
    }
    #subtext {
        padding-top: 1em;
        position:relative;
        display: flex;
        font-size: larger;
        opacity: 0;
    }

    .logo {
        src: url("assets/up.png");
        height: 40%;
        width: 40%;
    }

    .iframe-container{
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    #exit1 {
    }

}


@media (max-height: 500px) {
    .container {
        grid-template-columns: repeat(1, 1fr); /* Create 3 equal columns */
        align-items: center;
        justify-content: center;

       
    }

    .iframe-container{
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}


#subtext {
    font-size: xx-large;
}


iframe {
    border: 0.1em solid #3c5b6700;
    border-radius: 10%;
    height: 20em;
    width: 20em;
    z-index: 2;
}


.iframe-container {
    position: relative; /* Make sure the overlay is positioned relative to the container */
    width: 20.2em;
    height: 125%;
    background-color: #66a3e500;
    border-radius: 10%;
}

.iframe-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 20.2em;
    height: 100%;
    background: rgb(161, 161, 161);
    opacity: 0; 
    pointer-events: none; 
    z-index: 2; 
    border-radius: 10%;
    transition: 100ms;
}

/*p {
    font-family: "Montserrat", sans-serif;
}*/


.naam {
    position: relative;
    background-color: #00000000;
    border-radius: 10%;
    width: 10em;
    height: 1.5em;
    bottom: 2em;
    padding-left: 1em;
    color: rgb(255, 255, 255);
    font-weight: normal;
    justify-content: center;
}

#frame2-view-button, #frame3-view-button, #frame4-view-button, #frame5-view-button, #frame6-view-button, #frame7-view-button, #frame8-view-button,
#frame9-view-button, #frame10-view-button, #frame11-view-button, #frame12-view-button, #frame13-view-button, #frame14-view-button, #frame15-view-button,
#frame16-view-button, #frame17-view-button, #frame18-view-button, #frame19-view-button, #frame20-view-button {
    border-color: #00000000;
}

.upvotes::after {
    content: "⬆";
    color: rgb(38, 235, 235);
    position: absolute;
    bottom: 5;
    right: 0;
    font-size:x-large;
    font-weight: bold;
}



.iframe-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    opacity: 0;
    pointer-events: none;
    z-index: 2;
    border-radius: 10%;
    transition: 100ms;
}

  #poppup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70em;
    height: 50em;
    background-color: rgba(255, 255, 255, 0);
    z-index: 1000;
  }

  #poppup-iframe {
    width: 100%;
    height: 100%;
    z-index: 1000;
  }

  #iframe-knop {
    border-radius: 10%;
    border-color: #00000000;
    z-index: 10;
  }




.iframe-button {
    opacity: 0;
    position: absolute;
    background-color: rgb(152, 121, 57);
    border-radius: 10%;
    cursor: pointer;
    z-index: 20;
    top: 0.1em;
    left: 0.1em;
    height: 24em;
    width: 24em;
    z-index: 2;
}

.iframe-button:hover {
    opacity: 1;
    background-color: rgba(166, 166, 166, 0.271);
}

.exit {
    position: fixed;
    font-size: xx-large;
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
    border-color: rgba(240, 248, 255, 0);
    border-radius: 10%;
    cursor: pointer;
    z-index: 20;
    top: 0;
    left: 0;
    height: 1em;
    width: 1em;
    text-shadow: 0.1em 0.1em 0 rgb(0, 0, 0);

}
